.screen {
    display: flex;
    flex-direction: column;
    background-color: #0D2D5C;
    height: 100vh;
}

.container {
    flex: 1;
    justify-content: center;
}

.logo {
    flex: 1;
    padding-top: 3%;
    padding-left: 3%;
    align-items: left;
    justify-content: left;
    text-align: left;
}

.box {
    background-color: white;
    width: 30%;
    height: 80%;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}

.legend {
    background-color: white;
    justify-content: end;
    align-items: flex-end;
    text-align: right;
    align-self: flex-end;
    width: fit-content;
    font-size: medium;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top-left-radius: 10px;
}

