.screen {
    display: flex;
    flex-direction: column;
    background-color: #0D2D5C;
    height: 100vh;
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', Times, serif;
}

.container {
    flex: 1;
    justify-content: center;
}

.logo {
    flex: 1;
    padding-top: 2%;
    padding-left: 2%;
    align-items: left;
    justify-content: left;
    text-align: left;
}

.box {
    flex: 1;
    background-color: white;
    width: 30%;
    height:fit-content;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    justify-content: center;
}

.legend {
    background-color: white;
    justify-content: end;
    align-items: flex-end;
    text-align: right;
    align-self: flex-end;
    width: fit-content;
    font-size: medium;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top-left-radius: 15px;
    font-size: calc(1px + 1.5vmin);
    font-weight: bold;
    color:#0D2D5C;
}

.noAccount {
    display: inline-flex;
    cursor: pointer;
    color: #1C70EE;
}

.googleOr{
    margin-top: 20px;
}

.googleButton{
    border-radius: 5px;
    background-color: #ffffff;
    border-color: #C9C9C9;
    border: 1;
    margin-top: 5px;
    padding: 5px;
    color: rgb(0, 0, 0);
    height: 46px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .4s;
    width: 80%;
    flex-direction: row;
}

.googleButton:hover{
    background-color: #0D2D5C;
}