@import '../../colors.scss';

.TodoDetailsModalContainer{
    width: 660px;
    height: 250px;
    border-radius: 17px;
    border: 1px solid var(--light-grey, #C9C9C9);
    background: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--Left{
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        margin-left: 30px;

        gap: 10px;

        .TodoDescription2{
            font-size: 24px;
            font-weight: 600;
            color: #2F2F2F;

            margin-right: 5px;
        }
    }

    &--Right{
        border-radius: 0px 0px 17px 17px;
        background: #F8F9FF;

        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: flex-start;

        gap: 10px;

        padding-bottom: 10px;

        &--Item{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            margin: 20px 0px 0px 20px;

            gap: 5px;

            &--Title{
                font-size: 14px;
                font-weight: 700;
                color: #2F2F2F;
            }

            &--Value{
                font-size: 14px;
                font-weight: 400;
                color: #2F2F2F;
            }
        }
    }

    &--Close{
        position: absolute;
        top: 10px;
        right: 10px;

        cursor: pointer;
    }
}

.roundedCheckboxToDoContainer2 {
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
  
    cursor: pointer;

    .roundedCheckboxToDo2 {
      width: 31px;
      height: 31px;
      border-radius: 25%;
      vertical-align: middle;
      appearance: none;
      -webkit-appearance: none;
      outline: none;
      cursor: pointer;
  
      transition: all 0.3s ease;
  
      &.priority2-0{
        border: 1px solid $gray;
        background-color: white;
  
        &:checked {
          background-color: $blue;
          border: 1px solid $blue;
        }
      }
  
      &.priority2-1{
        border: 1px solid $blue;
        background-color: rgba(87, 106, 255, 0.33);
  
        &:checked {
          background-color: $blue;
          border: 1px solid $blue;
        }
      }
  
      &.priority2-2{
        border: 1px solid $yellow;
        background-color: rgba(252, 207, 92, 0.29);
  
        &:checked {
          background-color: $yellow;
          border: 1px solid $yellow;
        }
      }
  
      &.priority2-3{
        border: 1px solid $red;
        background-color: rgba(255, 16, 16, 0.14);
  
        &:checked {
          background-color: $red;
          border: 1px solid $red;
        }
      }
    }
    .checkmark2 {
      pointer-events: none;
  
      position: absolute;
      top: 21%;
      left: 22%;
      height: 25px;
      width: 25px;
      //background-color: #eee;
    }
  }

  .Details_Priority{
    position: absolute;
    bottom: -150px;
    left: 70px;
  }

  .react-datetimerange-picker__wrapper{
    border: 1px solid $gray-light !important;
    border-radius: 6px;

    color: #2F2F2F;
    font-weight: bold;
    font-size: 12px;

    width: 100% !important;
  }

  .react-datetimerange-picker__button__icon{
    stroke: #2F2F2F;
    width: 12px;
    height: 12px;
  }

