$supercharge-blue: #0D2D5C;
$text-dark: #171717;
$text-dark-2: #2F2F2F;
$text-light: #676767;
$text-light-2: #A0A2A4;
$stroke-light: #ECECEC;

$gray: #606165;
$gray-light: #DCDCDC;
$white: #FFFFFF;
$background: #F8F9FF;

$blue: #5d7bff;
$yellow: #fccf5c;
$red: #ff1010;


